<article>
	<p><a href="/blog">&larr; back to the blog</a></p>
		<h2>{{data.post.title}}</h2>
		<h5>
			{{{categoryList data.post.categories prefix="Posted in "}}}
			{{#if author.name.first}}by {{author.name.first}}{{/if}}
		</h5>
		{{{data.post.content.extended}}}
</article>

