<article>
	<p><a href="/blog">&larr; back to the blog</a></p>
		<h2>{{data.post.title}}</h2>
		<h5 class="info"><span class="lead">Address: </span>3-26-5, Nakano-ku, Tokyo, Japan 120-7473</h5>
		<h5 class="info"><span class="lead">Posted: </span>{{date publishedDate format='DD MMM YYYY'}}</h5>
		{{{data.post.content.extended}}}
</article>

