#header {
	padding-top: 30px;
	background-color: @brand-primary;

	.header-area {
		padding: 0 0 20px 0;
	}

	.container {

		.logo {
			
			font-size: 44px;
			line-height: 48px;
			font-family: Oswald, Helvetica;

			a {
				color: #fff;
				text-decoration: none;
			}
		}

		.navbar {
			/*#gradient.vertical(lighten(#B38200, 10%), #B38200, 0%, 100%);*/
			.container-fluid {
				padding: 0;

				.navbar-collapse {
					padding: 0;
				}
			}
			margin: 0;
			border: none;
		}
	}
}