#header {
	padding-top: 30px;
	#gradient.vertical(lighten(@brand-primary, 5%), darken(@brand-primary, 5%), 0%, 100%);

	.header-area {
		padding: 0 0 20px 0;
	}

	.container {

		padding: 0;

		.logo {
			
			margin-left: 15px;
			font-size: 44px;
			line-height: 48px;
			font-family: Oswald, Helvetica;

			a {
				color: #fff;
				text-decoration: none;
			}
		}

		.navbar {
			
			#gradient.vertical(lighten(@navbar-default-bg, 5%), @navbar-default-bg, 0%, 100%);
			border: none;

			.container-fluid {
				padding: 0;

				.navbar-collapse {
					padding: 0;
				}
			}
			margin: 0;
		}
	}
}