header {
	#gradient.vertical(lighten(@brand-primary, 5%), darken(@brand-primary, 5%), 0%, 100%);

	.logo {
		font-family: Oswald, Helvetica;
		min-width: 40%;
		display: inline-block;
		margin: 30px 40px; 

		img {
			height: 127px;
			background-size: contain;
			vertical-align: baseline;	

		}

		h1 {
			color: #fff;
			line-height: 70px;
			font-size: 65px;
			display: inline-block;
		}
	}

	nav {
		#gradient.vertical(lighten(@navbar-default-bg, 5%), @navbar-default-bg, 0%, 100%);
		border: none;
		border-radius:3px 3px 0 0;
		border-top: solid 1px darken(@brand-secondary, 10%);
		box-shadow: inset 0px 1px 0 lighten(@brand-secondary, 20%);
		// margin: 0;
	}
}