#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #000;
}

.blog {

	padding-top: 50px;

	.post {
		padding-bottom: 25px;
	}

	.post  {

		.brief {
			p {
				height: 7.3em;
				overflow: hidden;	
			}
		}

		img {
			height: 180px;
		}	
	}

	
	
}

.body {

	background-color: #efefef;

	.title {
		font-size: 4.5em;
		margin-top: 40px;
		margin-bottom: 40px;
	}	
}
