@font-face {
	font-family: Rosario;
	src: url("../../fonts/Rosario.ttf");
}

body {
	font-size: 16px;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	line-height: 1.1;
	color: @heading-default;
	margin: 0;
	margin-bottom: 22px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h4 {
	margin-bottom: 10px;
	font-weight: 300;
}

article {
	line-height: 1.6;
	color: @paragraph-default;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	text-decoration: none;
	color: #aaa;
}