body {
	font-size: 18px;
}

h1, h2, h3, h4, h5 {
	color: @heading-default;
	margin: 0;
	margin-bottom: 22px;
}

article, p, .info {
	font-family: "Palatino";
}

h1, h2, h3, h4, h5, .logo, .info span {
	font-family: Tahoma;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h4 {
	margin-bottom: 10px;
	font-weight: 300;
}

.info {
	font-size: 1.1em;
}



article {
	line-height: 1.4;
	color: @paragraph-default;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	text-decoration: none;
	color: #aaa;
}