//Scaffolding
@brand-primary: #E7AE01;
@brand-secondary: #302C2D;
@brand-grey: #F9FDFF;

// //Navbar
// @navbar-default-bg: @brand-secondary;
// @navbar-default-link-color:                #fff;
// @navbar-default-link-hover-color:          #fff;
// @navbar-default-link-active-color:         #fff;

// @btn-primary-bg: @brand-secondary;

// @pagination-active-bg:                 @brand-secondary;
// @pagination-active-border:             @brand-secondary;

// //Typography
@text-default-color: #674E00;
@paragraph-default-color: #00030F;