//Typography
@font-family-base: Rosario, Helvetica;

//Scaffolding
@brand-primary: #FEA014;
@brand-secondary: #1E2B33;
@brand-grey: #BFBFA9;
@link-color: #0038E6;

//Change Navbar Hover styles

//Navbar
@navbar-default-bg: @brand-secondary;
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #fff;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-hover-bg: lighten(@brand-secondary, 10%);

@btn-primary-bg: @brand-secondary;

@pagination-active-bg:                 @brand-secondary;
@pagination-active-border:             @brand-secondary;