.primary-header {
	background-color: @brand-secondary;
	height: 7rem;
	margin-bottom: 3rem;
	padding: 0 2rem;
	#gradient.vertical(lighten(@brand-secondary, 10%), @brand-secondary, 0%, 100%);
	border-bottom: 9px solid @brand-primary;

	.logo {
		img {
			background-size: contain;
			height: 96px;
		}

			.title {
				display: inline-block;
				padding: 1.2rem 0;
				color: #eef;

				.japanese-title {
					color: @brand-primary;
					font-size: 1.4rem;
					line-height: 1rem;
					display: block;
				}
			}
		
	}

	

	.primary-nav {
		border: none;
		font-size: 1.3em;
		display: inline-block;
		float: right;
		line-height: 7rem;

		li a {
			padding: 0 .5rem; //Use spacing from ratio
			color: #eef;

			&:hover {
				color: @brand-primary;
				background-color: transparent;
			}
		}
		
	}	
}