.primary-header {
	//#gradient.vertical(lighten(@brand-primary, 5%), darken(@brand-primary, 5%), 0%, 100%);
	background-color: #333;
	margin-bottom: 48px;
	padding-top: 24px;

	.logo {
		margin:0 0 18px 36px;
		display: inline-block;
		height: 100%;

		img {
			background-size: contain;
			vertical-align: middle;
			height: 152px;
		}

		.title {
			vertical-align: middle;
			color: #fff;
			font-size: 2.8em;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 1.5em;
			display: inline-block;
			letter-spacing: 0.1em;

		    .slogan-large {
		    	font-size: 2em;
		    	letter-spacing: 0.1em;
		    	margin: 0 -4px;
		    }
		}
	}
}