.post {
	padding-bottom: 25px;
	margin: 30px;
	padding: 15px 0 15px 30px;

	.post-title {
		display: inline-block;
		padding-right: 10px;
		vertical-align: top;
		line-height: 30px;

		a {
			display: inline-block;
		}
	}

	p {
		margin-top: 12px;
		max-height: 180px;
		overflow: hidden;	
	}

	img {
		height: 160px;
	}

	.rating {
		display: inline-block;
		vertical-align: top;
		height: 30px;

		.star {
			font-size: 30px;
			line-height: 30px;
		}
	}

}


